* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    font-weight: normal;
}

#header, #main-wrapper {
    margin: 2em 0;
    text-align: center;
}

#sections {
    padding: 0 1em;
}

#sections ul, #sections ol {
    margin-left: 2em;
}

#sections p {
    margin-bottom: 0.5em;
}

.section {
    margin-bottom: 1em;
}

#menu-nav li {
    display: inline;
    margin: 0 0.5em;
}

#main-wrapper {
    margin: 3em 0;  /*输入框与标题的距离*/
    background-color: #FFF;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

/*#main { width:800px; margin:auto; }*/
.app {
    margin: 0.5em auto;
}

.eq {
    min-height: 100px;
}

#loading {
    height: 70px;
    text-align: center;
}

#loading img {
    margin-top: 45px;
}

.result {
    font-size: 200%;
}

#query {
    font-size: 50%;
    padding: 0.5em;
}

/* 50% of parent container (.result), so it should render as normal size. */

.draw {
    margin-top: 3em;
    width: 480px;
    /*margin: auto;*/
    margin-bottom: 5em;
}

#drawhere {
    position: relative;
    top: -50px;
    z-index: 1;
    float: right;
}

#drawing-canvas {
    /*position: relative;*/
    margin-left:-15em;
    /*margin: auto;*/
    z-index: 2;
    border: 2px solid #dadada;
}

/*#publications li { font-size:85%; }*/
.controls {
    overflow: auto;
    position: relative;
    /*margin-right:10px;*/
    /*position:absolute;*/
    /*right:1px;*/
    /*width:800px;*/
}

.controls * {
    vertical-align: middle;
    /*position: relative;*/

}

.controls a {
    height: 20px;
    font-family: Monaco;
    font-weight: bold;
    font-size: 1em;
    padding-left: 30px;
    margin-right: 5px;
    text-decoration: none;
}

a#clear {
    background: url(cross.png) no-repeat scroll 2px 1px #FFFFFF;
    color: red;
}

a#send {
    background: url(submit.png) no-repeat scroll 2px 1px #FFFFFF;
    color: green;
}

a#undo {
    background: url(previous.png) no-repeat scroll 2px 1px #FFFFFF;
    color: blue;
}

a#redo {
    background: url(next.png) no-repeat scroll 2px 1px #FFFFFF;
    color: blue;
}

#footer {
    background-color: #FFF;
    border-top: 1px dashed #DDD;
    padding: 2em;
    font-family: sans-serif;
    font-size: 80%;
}

.fl {
    float: left;
    font-size: 12cm;
}

.fr {
    float: right;
}

.inline {
    display: inline;
}

#trainer {
    margin: 0.5em 0;
}
